<h1>{{ usuario.username }} - Perfil</h1>

<h2>Libros en venta</h2>
<ul>
    {% for libro in libros_vendidos %}
        <li>{{ libro.titulo }} - ${{ libro.precio }}</li>
    {% empty %}
        <li>No tienes libros en venta.</li>
    {% endfor %}
</ul>

<h2>Mis Compras</h2>
<ul>
    {% for compra in compras %}
        <li>{{ compra.libro.titulo }} - ${{ compra.monto }} (Comprado el {{ compra.fecha|date:"d M Y" }})</li>
    {% empty %}
        <li>No has realizado compras.</li>
    {% endfor %}
</ul>
